[project]
	description = Checking GErrit
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Manish-Singh28
[access "refs/for/refs/*"]
	read = group user/Manish-Singh28
	push = group user/Manish-Singh28
	label-Code-Review = -2..+2 group user/Manish-Singh28
	label-Verified = -1..+1 group user/Manish-Singh28
	rebase = group user/Manish-Singh28
	removeReviewer = group user/Manish-Singh28
	submit = group user/Manish-Singh28
[access "refs/heads/*"]
	read = group user/Manish-Singh28
	create = group user/Manish-Singh28
	push = +force group user/Manish-Singh28
	pushMerge = group user/Manish-Singh28
[access "refs/tags/*"]
	push = group user/Manish-Singh28
	push = +force group user/Manish-Singh28
[receive]
	requireChangeId = true
	createNewChangeForAllNotInTarget = true
	rejectImplicitMerges = true
[submit]
	mergeContent = true
